tox==1.4
docutils>=0.10
Sphinx==1.1.3
six>=1.4.0
python-dateutil>=2.1
nose==1.3.0
mock==1.0.1
rsa==3.1.2

# botocore and the kamboo packages are typically developed
# in tandem, so we're requiring the latest develop
# branch of botocore when working on the kamboo.
-e git://github.com/boto/botocore.git@develop#egg=botocore
-e git://github.com/boto/jmespath.git@develop#egg=jmespath

# Someday...
# bcdoc==0.12.0
-e git+https://github.com/boto/bcdoc.git@3b160ee79d7eef1b6a6db7665603ba059b8f412d#egg=bcdoc
